.ico_group{
	/*.fr-convex;           
	background: var(--m-gray) + #111;*/
	margin: .5rem 0;
	border-radius: var(--radius);
	padding: .7rem;
	border :1px solid var(--m-gray);
	
	.content{
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
		
		max-height: 200px;
		overflow: auto;
		.scrollbars(5px, var(--md-gray), var(--dl-gray));
	}
	.ico_item{
		flex-basis: 2rem;
		height: 2rem;
    flex-grow: 1;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
		display: flex;
		&:hover{
			background: var(--m-gray);    
		}
		&:active{
				background:  var(--m-gray);    
		}
		&.active{
			color: var(--color_bright);
		}
		
		i{
			margin: auto;
		}
	}
}