.page{
	color: @l-gray;
	&>.content{
		padding: 1rem;
		margin: 1rem auto;
		max-width: 70rem;
	}
	article{
		padding: 1rem;
		margin: 1rem;
		line-height: 1.6;
		
		border-radius: @r-rad;
		border :1px solid @d-gray + #111;
	}
	
	.flexParent{
		article{
			flex-basis: 30rem;
			flex-grow: 1;
		}
	}
	
	
}