
#soundpad_wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: @sounder_back;
	box-shadow: -6px 0 6px @shadow_color;
	transition: background .2s;
	&.editing{
		background: @m-gray;
	}
	
	#soundpad{
		flex-grow: 99;
	}
	#soundpad_toolbar{
		padding: .2rem;
    display: flex;
		
		button {
			flex-grow: 1;
		}
	}
	
	.cinput{
		padding: .3rem;
		
	}
	.sounder_title{
		//min-width: 100%;
	}
	.sounder_ico_ex{
		padding: .4rem;
		color: @color-rev;
		min-width: 2.2rem;
		min-height: 2.1rem;
		text-align: center;
	}
}

.soundpad_container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#sound_editor{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100%;
	padding: 1rem;
	z-index: 99;
	background: @sounder_back;
	box-shadow: -8px 0 10px @shadow_color;
}

#soundpad{
	overflow-y: auto;	
	.scrollbars(.15rem, @m-gray, lighten(@d-gray, 10%));
	
}

#soundpad{
	.flexParent();
	flex-direction: column;
	justify-content: start;
}
.sounder{
	.fr-convex();
	.flexChild();
	padding: .1rem;
	@size: 4rem;	
	width: @size;
	height: @size;

	flex-basis: @size;
	flex-grow: 0;

	.flexParent();
  align-items: center;
	transition: transform .3s, background .3s;
    //display: flex;
    flex-direction: column;
	 -webkit-app-region: no-drag;
	 
	.core{
		display: flex;
		flex-direction: column-reverse;
	} 
	i{
		text-align: center;
		font-size: 140%;
	}
	span{		
		margin-top: .5rem;
	}
	&:hover{
		background: @m-gray;
		//transform: scale(1.01);
	}	
	&:active{
		background: darken(@m-gray, 10%);
		//transform: scale(1);
	}
	&.active{
		color: @color-rev;
	}
	
	&:nth-child(-n+9){
		position: relative;
		&:before{
				counter-increment: tracks; /* Указываем идентификатор счетчика */
				content: counter(tracks); /* Выводим текст перед содержимым тега <h2> */
				//padding-right: 0.5em;
				opacity: .8;
				position: absolute;
				top: -2px;
				right: 0;
				
				text-shadow: -1px -1px 0 @m-gray,
				-1px 0 0 @m-gray,
				-1px 1px 0 @m-gray,
				-1px -1px 2px @m-gray,
				-1px 0 2px @m-gray,
				-1px 1px 2px @m-gray,
				-3px 3px 6px @m-gray,
				-3px 0 6px @m-gray,
				-3px 3px 6px @m-gray;
		}
	}
}

/*
.sconf{
	.fr-convex();
	.flexChild();
	@size: 6rem;
	flex-basis: @size;
	flex-grow: 0;
	padding: 0;
	width: @size;
	display: flex;
	flex-direction: column;
	transition: background .3s;
	 -webkit-app-region: no-drag;
	
	input{
		width: 100%;
		margin: 0.1em 0;
		border: 0;
    background: lighten(@d-gray, 10%);
		color: @l-gray;
		padding: .2rem;
		border: 1px solid @black;
    border-radius: 3px 0 0 3px;
		border-right-width: 0;
				
		&:hover,
		&:active{
			background: lighten(@d-gray, 15%);
		}
	}
	
	.ico_input{
		.flexParent();
		flex-wrap: nowrap;
		
		input{
			flex-grow: 1;
		}
		
		select{
			width: 1rem;
			background: lighten(@d-gray, 10%);
			color: @l-gray;
		}
		option{
			color: @l-gray;
		}
		
		i{
			padding: .2rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	
	
	.header{
		.flexParent();
		flex-wrap: nowrap;
	}
	.handler{
		flex-grow: 1;
		cursor: grab;
	}
	
	.remove{
		.fr-convex();
		padding: .04rem .2rem;
		margin: .05rem;
		background: transparent;
		border-color: transparent;
		box-shadow: none;
		cursor: pointer;
		&:hover{
			background: @m-gray;
		}	
		&:active{
			background: darken(@m-gray, 10%);
		}
	}
}
*/
.new_sound{
	display: none;
	
	&+label{
		.fr-convex();
		.flexParent();
		align-items: center;
		margin: 1rem 0 .5rem;
		padding: .1em;
		flex-grow: 1;
		span{
			.flexChild();
			flex-grow: 0;
		}
		
		&:hover{
			background: @m-gray;
			//transform: scale(1.01);
		}	
		&:active{
			background: darken(@m-gray, 10%);
			//transform: scale(1);
		}
	}
}
.sound_list{
	overflow-y: scroll;
	max-height: 5rem;
	
	.scrollbars(.15rem, lighten(@d-gray, 10%), @m-gray);
}
.sounditem{
	display: flex;
	margin: 0.1em 0;
	
	button{
		.fr-convex();
		.flexParent();
		padding: .04rem .2rem;
		margin: .1rem;
		margin-left: 0;
		//background: transparent;
		background: lighten(@d-gray, 10%);
		border-color: @black;
		box-shadow: none;
		cursor: pointer;
		border-radius: 0 3px 3px 0;
		&:hover{
			//background: @m-gray;
			background: lighten(@d-gray, 15%);
			//transform: scale(1.01);
		}	
		&:active{
			//background: darken(@m-gray, 10%);
			background: lighten(@d-gray, 10%);
			//transform: scale(1);
		}
	}
}

#new_sounder{
	.fr-convex();
	.flexParent();
	align-items: center;
	margin: 1rem auto;
	padding: .1em .3em;
	cursor: pointer;	
	background: lighten(@d-gray, 10%);
	@size: 3rem;
	flex-basis: @size;
	min-width:@size;
  max-width: @size;
	-webkit-app-region: no-drag;
	&:hover{
		background: @m-gray;
		//transform: scale(1.01);
	}	
	&:active{
		background: darken(@m-gray, 10%);
		//transform: scale(1);
	}
	
}

.drag_ghost{
	opacity: 0.8;
}
.drag_drag{
	outline: 1ps solid red;
}

.sound_list{
	max-height: 300px;
}
.sound_item{
	display: flex;
	color: @l-gray;
	&:nth-child(2n){
				background: rgba(255,255,255, .1);  
	}
	&:nth-child(2n+1){
			background: rgba(0,0,0, .1);  
	}
	.content{
		display: flex;
		flex-grow: 1;
		color: @l-gray;
	}
	input{
		width: 2rem;
	}
}
.add_track_label{
	margin: 1rem 0 .5rem;
	color: @l-gray;
}
.add_track{
	display: flex;
	width :100%;
	margin: 1rem 0;
	padding: .3rem;
	i{
		margin: auto;
	}
}
.sounder_settings_group{
	margin: .5rem 0;
	border-radius: @r-rad;
	padding: .7rem;
	border :1px solid @m-gray;
}