:root {
  --color_bright: #fc801c;
  --color: #487EC5;
  --radius: 4px;
  --dd-gray: #151515;
  --d-gray: #222;
  --dl-gray: #2f2f2f;
  --mdd-gray: #5e5e5e;
  --md-gray: #6a6a6a;
  --m-gray: #777;
  --ml-gray: #848484;
  --l-gray: #ddd;
  --white: #fff;
  --color-group-01: rgba(255, 255, 255, 0);
  --color-group-02: #f23;
  --color-group-03: #2196F3;
  --color-group-04: #9f2;
  --color-group-05: #FFEB3B;
  --color-group-01: #9c27b0;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-shadow-light: rgba(255, 255, 255, 0.15);
  --padding: 0.3rem;
  --size: 4rem;
  --size-big: 10rem;
}
.clear {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
/*
@track-color: #424242;
@thumb-color: #555bc8;

@thumb-radius: 8px;
@thumb-height: 30px;
@thumb-width: 30px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: #111;
@thumb-border-width: 1px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 2px;
@track-shadow-blur: 2px;
@track-shadow-color: #222;
@track-border-width: 1px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  
  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track(); 
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}
*/
.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.flexParent .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.flexSpacer {
  flex-grow: 1;
}
.flexChild {
  flex-grow: 1;
}
.frame {
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
}
.fr {
  border-bottom-width: 2px;
}
.fr-convex {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-concave {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
}
html {
  overflow: hidden;
  background: var(--dd-gray);
}
body {
  background: var(--dd-gray);
  padding: 0;
  margin: 0;
  font-family: Verdana, Helvetica, Geneva, Lucida, sans-s;
}
label {
  cursor: pointer;
}
a {
  color: var(--color);
  cursor: pointer;
}
button,
.btn {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  padding: .4rem;
  margin: .2rem;
  cursor: pointer;
  transform: translateY(0px);
  transition: color .2s, background .2s, border .2s, opacity .2s, transform .2s;
  /*&.active {
		color: var(--color_bright);
	}*/
}
button:hover,
.btn:hover {
  background: var(--ml-gray);
}
button:active,
.btn:active,
button.active,
.btn.active {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--mdd-gray);
  transform: translateY(1px);
}
button.compact,
.btn.compact {
  padding: 0;
  margin: 0;
}
button.obscured,
.btn.obscured {
  background: var(--mdd-gray);
  opacity: .6;
}
button.obscured:hover,
.btn.obscured:hover {
  background: var(--md-gray);
  opacity: 1;
}
button.obscured:active,
.btn.obscured:active {
  background: var(--m-gray);
}
input:checked + label {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--mdd-gray);
  transform: translateY(1px);
}
.padding {
  padding: 1rem;
}
.cinput {
  border-radius: var(--radius);
  border: none;
  background: var(--m-gray);
  color: var(--l-gray);
  box-shadow: inset 0px 2px 2px 0px var(--color-shadow);
}
.cinput::placeholder {
  color: var(--d-gray);
}
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 3px;
  margin-bottom: 3px;
  background: var(--d-gray);
  counter-reset: tracks;
  /*
	&.default{
		@size: 8rem;
		
		.sounder {
			width: @size;
			height: @size;

			flex-basis: @size;			
		}
		.sconf{
			flex-basis: @size;
		}
	}
	&.square{
		@size: 4rem;
		
		.sounder {
			width: @size;
			height: @size;

			flex-basis: @size;
			span{
				display: none;
			}
		}
		.sconf{
			flex-basis: @size;
		}
		
		.toolbar_item{
			padding: .1rem .2rem;
		}
	}
	&.panel{
		@size: 2rem;
		
		.sounder {	
			width: @size;
			height: @size;

			flex-basis: @size;
			span{
				display: none;
			}
		}
		.sconf{
			flex-basis: 4rem;
		}
		.toolbar_item{
			padding: .04rem;
			min-width: 1rem;
		}
	}
	*/
}
#app #main {
  flex-grow: 9;
  position: relative;
}
#app .page {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#app .page::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#app .page::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
#app .page::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
#app .page body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
#app .page::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#app .page::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
#app .page::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
#app .page body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  cursor: default;
  padding: 0;
  padding-bottom: 3px;
  background: var(--dd-gray);
  flex-direction: row-reverse;
  -webkit-app-region: drag;
}
#toolbar .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacer {
  flex-grow: 99;
}
#edit,
#config,
#soundpad {
  overflow-y: auto;
}
#edit::-webkit-scrollbar,
#config::-webkit-scrollbar,
#soundpad::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#edit::-webkit-scrollbar-thumb,
#config::-webkit-scrollbar-thumb,
#soundpad::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
#edit::-webkit-scrollbar-track,
#config::-webkit-scrollbar-track,
#soundpad::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
#edit body,
#config body,
#soundpad body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
#edit::-webkit-scrollbar,
#config::-webkit-scrollbar,
#soundpad::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#edit::-webkit-scrollbar-thumb,
#config::-webkit-scrollbar-thumb,
#soundpad::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
#edit::-webkit-scrollbar-track,
#config::-webkit-scrollbar-track,
#soundpad::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
#edit body,
#config body,
#soundpad body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
.bottom_toolbar {
  color: var(--m-gray);
  background: var(--dd-gray);
  padding: var(--padding);
  padding-bottom: var(--padding);
  -webkit-app-region: no-drag;
  cursor: default;
}
#config {
  color: var(--m-gray);
  padding: var(--padding);
}
#config article {
  padding: var(--padding);
  border: 1px solid var(--m-gray);
  border-radius: 3px;
}
#config .hotkey_tabble {
  -webkit-app-region: no-drag;
  display: flex;
  flex-wrap: wrap;
}
#config .hotkey_tabble .col {
  margin: var(--padding);
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
}
#edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  cursor: default;
  padding: 0;
  justify-content: start;
}
#edit .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar_item {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-grow: 1;
  min-width: 3em;
  flex-grow: 0;
  padding: .4rem .3rem;
  margin: .05rem;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  -webkit-app-region: no-drag;
}
.toolbar_item i {
  color: var(--m-gray);
}
.toolbar_item.active {
  background: var(--m-gray);
}
.toolbar_item.active i {
  color: var(--white);
}
.toolbar_item:hover {
  background: var(--m-gray);
}
.toolbar_item:hover i {
  color: var(--white);
}
.toolbar_item:active {
  background: var(--d-gray);
}
.toolbar_item:active i {
  color: var(--white);
}
.drag_ghost {
  opacity: 0.8;
}
.drag_drag {
  outline: 1ps solid red;
}
.hidden {
  opacity: 0;
  transition: opacity .6s;
}
.ready {
  opacity: 1;
}
[v-cloak] {
  display: none;
}
@media only screen and (max-width: 400px) {
  #soundpad_wrapper,
  #soundpad {
    flex-direction: row;
  }
  #soundpad_wrapper {
    box-shadow: 0px -6px 6px var(--color-shadow);
  }
}
#soundpad_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--dd-gray);
  box-shadow: -6px 0 6px var(--color-shadow);
  transition: background .2s;
}
#soundpad_wrapper.editing {
  background: var(--m-gray);
}
#soundpad_wrapper #soundpad {
  flex-grow: 99;
}
#soundpad_wrapper #soundpad_toolbar {
  padding: .2rem;
  display: flex;
}
#soundpad_wrapper #soundpad_toolbar button {
  flex-grow: 1;
}
#soundpad_wrapper .cinput {
  padding: .3rem;
}
#soundpad_wrapper .sounder_ico_ex {
  padding: .4rem;
  color: var(--color_bright);
  min-width: 2.2rem;
  min-height: 2.1rem;
  text-align: center;
}
.soundpad_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#sound_editor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  padding: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  z-index: 99;
  background: var(--dd-gray);
  box-shadow: -8px 0 10px var(--color-shadow);
}
#sound_editor .sound_title .cinput {
  flex-grow: 1;
}
#soundpad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  overflow-y: auto;
  margin-right: var(--padding);
  flex-direction: column;
  justify-content: start;
}
#soundpad .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#soundpad::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#soundpad::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
#soundpad::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
#soundpad body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
#soundpad::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#soundpad::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
#soundpad::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
#soundpad body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
.sounder {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-grow: 1;
  padding: .1rem;
  margin: .3rem auto;
  width: 4rem;
  height: 4rem;
  flex-basis: 4rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  align-items: center;
  transition: transform .3s, background .3s;
  flex-direction: column;
  -webkit-app-region: no-drag;
}
.sounder .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sounder .core {
  display: flex;
  flex-direction: column-reverse;
}
.sounder i {
  text-align: center;
  font-size: 140%;
}
.sounder span {
  margin-top: .5rem;
}
.sounder:hover {
  background: var(--m-gray);
}
.sounder:active {
  background: var(--m-gray);
}
.sounder.active {
  color: var(--color_bright);
}
.sounder:nth-child(-n+9) {
  position: relative;
}
.sounder:nth-child(-n+9):before {
  counter-increment: tracks;
  /* Указываем идентификатор счетчика */
  content: counter(tracks);
  /* Выводим текст перед содержимым тега <h2> */
  opacity: .8;
  position: absolute;
  top: -2px;
  right: 0;
  text-shadow: -1px -1px 0 var(--m-gray), -1px 0 0 var(--m-gray), -1px 1px 0 var(--m-gray), -1px -1px 2px var(--m-gray), -1px 0 2px var(--m-gray), -1px 1px 2px var(--m-gray), -3px 3px 6px var(--m-gray), -3px 0 6px var(--m-gray), -3px 3px 6px var(--m-gray);
}
.new_sound {
  display: none;
}
.new_sound + label {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  align-items: center;
  margin: 1rem 0 .5rem;
  padding: .1em;
  flex-grow: 1;
}
.new_sound + label .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_sound + label span {
  flex-grow: 1;
  flex-grow: 0;
}
.new_sound + label:hover {
  background: var(--m-gray);
}
.new_sound + label:active {
  background: var(--m-gray);
}
.sound_list {
  overflow-y: scroll;
  max-height: 250px;
}
.sound_list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sound_list::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
.sound_list::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
.sound_list body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
.sound_list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sound_list::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
.sound_list::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
.sound_list body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
.sounditem {
  display: flex;
  margin: 0.1em 0;
}
.sounditem button {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  padding: .04rem .2rem;
  margin: .1rem;
  margin-left: 0;
  background: var(--d-gray);
  border-color: #000;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}
.sounditem button .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sounditem button:hover {
  background: var(--d-gray);
}
.sounditem button:active {
  background: var(--d-gray);
}
#new_sounder {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  align-items: center;
  margin: 1rem auto;
  padding: .1em .3em;
  cursor: pointer;
  background: var(--d-gray);
  flex-basis: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  -webkit-app-region: no-drag;
}
#new_sounder .col.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#new_sounder:hover {
  background: var(--m-gray);
}
#new_sounder:active {
  background: var(--m-gray);
}
.drag_ghost {
  opacity: 0.8;
}
.drag_drag {
  outline: 1ps solid red;
}
.sound_item {
  display: flex;
  color: var(--l-gray);
}
.sound_item:nth-child(2n) {
  background: rgba(255, 255, 255, 0.1);
}
.sound_item:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.1);
}
.sound_item .content {
  display: flex;
  flex-grow: 1;
  color: var(--l-gray);
}
.sound_item input {
  width: 3rem;
}
.add_track_label {
  margin: 1rem 0 .5rem;
  color: var(--l-gray);
}
.add_track {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  padding: .3rem;
}
.add_track i {
  margin: auto;
}
.sounder_settings_group {
  margin: .5rem 0;
  border-radius: var(--radius);
  padding: .7rem;
  border: 1px solid var(--m-gray);
}
.ico_group {
  /*.fr-convex;           
	background: var(--m-gray) + #111;*/
  margin: .5rem 0;
  border-radius: var(--radius);
  padding: .7rem;
  border: 1px solid var(--m-gray);
}
.ico_group .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  max-height: 200px;
  overflow: auto;
}
.ico_group .content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.ico_group .content::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
.ico_group .content::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
.ico_group .content body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
.ico_group .content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.ico_group .content::-webkit-scrollbar-thumb {
  background: var(--md-gray);
}
.ico_group .content::-webkit-scrollbar-track {
  background: var(--dl-gray);
}
.ico_group .content body {
  scrollbar-face-color: var(--md-gray);
  scrollbar-track-color: var(--dl-gray);
}
.ico_group .ico_item {
  flex-basis: 2rem;
  height: 2rem;
  flex-grow: 1;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  display: flex;
}
.ico_group .ico_item:hover {
  background: var(--m-gray);
}
.ico_group .ico_item:active {
  background: var(--m-gray);
}
.ico_group .ico_item.active {
  color: var(--color_bright);
}
.ico_group .ico_item i {
  margin: auto;
}
.tracks {
  width: 100%;
  padding: .1em;
  padding-right: 4.8em;
}
.tracksafter,
.tracksbefore {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.tracklist_ghost {
  opacity: .4;
  transform: scale(0.95);
}
.tracklist_drag {
  box-shadow: 0 0 10px 3px var(--color);
  transform: scale(1.1);
}
#playLists {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-grow: 99;
}
.player_form {
  display: block;
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 12em;
  background: var(--m-gray);
  padding: .1em;
  margin: var(--padding);
  position: relative;
  border-top: 2px solid var(--m-gray);
  transition: border-top 0.2s, transform 0.2s, border-top 0.2s;
  border-top-color: attr(data-color);
  /*
  &[data-group=g1] {
    border-top: 2px solid @color_g1;
  }
  &[data-group=g2] {
    border-top: 2px solid @color_g2;
  }
  &[data-group=g3] {
    border-top: 2px solid @color_g3;
  }
  &[data-group=g4] {
    border-top: 2px solid @color_g4;
  }
  &[data-group=g5] {
    border-top: 2px solid @color_g5;
  }
*/
  /*input[type="checkbox"] {
		display: none;
		
		&:checked+label{
			color: var(--color_bright);
		}
	}*/
}
.player_form input[type="file"] {
  display: none;
}
.player_form .ico_button {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  padding: .2em .4em;
  margin: 0;
  background: transparent;
  border-color: transparent;
  display: inline-block;
  color: var(--l-gray);
  cursor: pointer;
  transition: opacity 0.2s, color 0.2s, backbround 0.2s, border-color 0.2s;
}
.player_form .ico_button:hover {
  border-color: var(--m-gray);
  background: var(--m-gray);
}
.player_form .ico_button:active {
  color: var(--color_bright);
}
.player_form .ico_button.active {
  color: var(--color_bright);
}
.player_form .pf_lt {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 1.5em;
  padding: .2em;
  top: 0;
  right: 0;
  text-align: center;
}
.player_form .pf_sett {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--md-gray);
  padding: .2em;
  margin: .1em;
  cursor: default;
  overflow: hidden;
  height: auto;
  display: flex;
  /* .btn{
            width: 100%;
            display: inline-block;
            padding: .3rem;
        }*/
  /*.mix{
            .fr-convex;           
            background: var(--m-gray);
            padding: .3em;
            font-size: inherit;
            &:hover{
                background: var(--m-gray)    
            }
            &:active{
                background:  var(--m-gray);    
            }
        }*/
  /*input.hide + label{
            .fr-convex;           
            background: var(--m-gray);
            width: 100%;
            display: inline-block;
            padding: .3em;
            &:hover{
                background: var(--m-gray);    
            }
            &:active{
                background:  var(--m-gray);    
            }
            input{
                display: none;
            }
        }
        input.hide:checked + label{
            .fr-concave;
            background:  var(--m-gray);  
            padding: .3em;  
        }*/
  /*input.cycle:checked + label{
            .fr-concave;
            background:  var(--m-gray); 
            padding: .3em;   
        }*/
}
.player_form .pf_sett .btns,
.player_form .pf_sett .vol {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.player_form .pf_sett .vol input,
.player_form .pf_sett .vol .vol_num {
  margin: auto;
}
.player_form .pf_sett input.hide {
  display: none;
}
.player_form .pf_sett input.cycle {
  display: none;
}
.player_form .pf_sett input.cycle + label {
  /*.fr-convex;           
            background: var(--m-gray);
            width: 100%;
            display: inline-block;
            padding: .3em;
            
            &:hover{
                background: var(--m-gray);    
            }
            &:active{
                background:  var(--m-gray);    
            }
            input{
                display: none;
            }*/
}
.player_form .pf_sett .volume {
  font-size: inherit;
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 2em;
  height: 6em;
  padding: 0 5px;
  cursor: pointer;
}
.player_form .pf_sett:before,
.player_form .pf_sett:after {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.player_form .pf_play {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--md-gray);
  padding: .2em;
  margin: .1em;
  cursor: default;
  text-align: center;
  position: relative;
}
.player_form .pf_play button.pf_play_bt {
  /* .fr-convex;*/
  font-size: 1.6em;
  width: 4em;
  height: 4em;
  cursor: pointer;
  display: block;
  margin: .1rem auto;
  /*
            &:hover{
                background: var(--m-gray);    
            }
            &:active{
                background:  var(--m-gray);    
            }*/
}
.player_form .pf_play button.pf_play_bt i {
  font-size: 1.9em;
}
.player_form .pf_play button.pf_next_bt {
  font-size: inherit;
  width: 6.4em;
  cursor: pointer;
  display: block;
  margin: .1rem auto;
  /*
            &:hover{
                background: var(--m-gray);    
            }
            &:active{
                background:  var(--m-gray);    
            }*/
}
.player_form .pf_play button.pf_next_bt i {
  font-size: 1.4em;
}
.player_form .pf_list_length {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--d-gray);
}
.player_form .pf_trek_timeline {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px;
  margin: 0;
  width: auto;
  background: var(--m-gray);
  position: relative;
  top: 0.2em;
  border-radius: 15px;
}
.player_form .pf_trek_timeline .pf_trek_playhead {
  height: 3px;
  width: 0%;
  background: var(--color_bright);
}
.player_form .pf_name {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--md-gray);
  padding: .2em;
  margin: .1em;
  cursor: default;
  font-size: 120%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.player_form .pf_name .title {
  position: relative;
  padding: .2rem;
  overflow: hidden;
}
.player_form .pf_name .title:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0.3em;
  bottom: 0;
  width: 1em;
  height: 1.2em;
  background: linear-gradient(to right, transparent, var(--md-gray));
}
.player_form .pf_name input {
  font-weight: bold;
  font-size: 110%;
  max-width: 100%;
  padding: .2rem;
}
.player_form .pf_img {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--md-gray);
  padding: .2em;
  margin: .1em;
  cursor: default;
  height: 5em;
  text-align: center;
}
.player_form .pf_groups,
.player_form .pf_list {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--md-gray);
  padding: .2em;
  padding: 0;
  margin: .1em;
  cursor: default;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: visible;
  height: 12em;
  counter-reset: tracks;
}
.player_form .pf_groups::-webkit-scrollbar,
.player_form .pf_list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.player_form .pf_groups::-webkit-scrollbar-thumb,
.player_form .pf_list::-webkit-scrollbar-thumb {
  background: var(--l-gray);
}
.player_form .pf_groups::-webkit-scrollbar-track,
.player_form .pf_list::-webkit-scrollbar-track {
  background: var(--ml-gray);
}
.player_form .pf_groups body,
.player_form .pf_list body {
  scrollbar-face-color: var(--l-gray);
  scrollbar-track-color: var(--ml-gray);
}
.player_form .pf_groups::-webkit-scrollbar,
.player_form .pf_list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.player_form .pf_groups::-webkit-scrollbar-thumb,
.player_form .pf_list::-webkit-scrollbar-thumb {
  background: var(--l-gray);
}
.player_form .pf_groups::-webkit-scrollbar-track,
.player_form .pf_list::-webkit-scrollbar-track {
  background: var(--ml-gray);
}
.player_form .pf_groups body,
.player_form .pf_list body {
  scrollbar-face-color: var(--l-gray);
  scrollbar-track-color: var(--ml-gray);
}
.player_form .pf_l_sett {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--md-gray);
  padding: .2em;
  margin: .1em;
  cursor: default;
}
.player_form .pf_mng {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--md-gray);
  padding: .2em;
  margin: .1em;
  cursor: default;
  display: flex;
  align-items: stretch;
}
.player_form .pl_group,
.player_form .tr_line {
  padding: 0.1em 0.2em;
  position: relative;
  height: 1.7em;
  overflow: hidden;
  display: flex;
}
.player_form .pl_group .content,
.player_form .tr_line .content {
  display: flex;
  /*justify-content: space-between;*/
  flex-grow: 1;
}
.player_form .pl_group .remove,
.player_form .tr_line .remove {
  background: transparent;
  border-color: transparent;
  color: var(--l-gray);
  cursor: pointer;
  opacity: .5;
  transition: opacity .2s, color .2s, backbround .2s;
}
.player_form .pl_group .remove:hover,
.player_form .tr_line .remove:hover {
  opacity: 1;
}
.player_form .pl_group .remove:active,
.player_form .tr_line .remove:active {
  color: var(--color_bright);
}
.player_form .pl_group .name,
.player_form .tr_line .name {
  z-index: 5;
  top: 0;
  left: 0;
  flex-grow: 2;
}
.player_form .pl_group:nth-child(2n),
.player_form .tr_line:nth-child(2n) {
  background: rgba(255, 255, 255, 0.1);
}
.player_form .pl_group:nth-child(2n+1),
.player_form .tr_line:nth-child(2n+1) {
  background: rgba(0, 0, 0, 0.1);
}
.player_form .pl_group:hover,
.player_form .tr_line:hover {
  background: rgba(255, 255, 255, 0.18);
}
.player_form .pl_group.active,
.player_form .tr_line.active {
  background: var(--color_bright);
}
.player_form .pl_group input,
.player_form .tr_line input {
  margin-right: .3rem;
}
.player_form .tr_line:before {
  counter-increment: tracks;
  /* Указываем идентификатор счетчика */
  content: counter(tracks);
  /* Выводим текст перед содержимым тега <h2> */
  padding-right: 0.5em;
  opacity: .8;
}
.pf_play_bt .fa-pause {
  color: var(--color_bright);
}
.addButton {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--m-gray);
  width: 100%;
  display: inline-block;
  padding: .3em;
  margin: .3rem 0;
  transition: background .2s;
}
.addButton:hover {
  background: var(--m-gray);
}
.addButton:active {
  background: var(--m-gray);
}
.add_playlist {
  flex-basis: 12em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add_playlist span {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--d-gray);
  opacity: .6;
  width: 100%;
  min-height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8em;
  margin: .9rem 2rem;
  text-align: center;
  transition: background .2s, opacity .2s;
}
.add_playlist:hover span {
  background: var(--m-gray);
  opacity: 1;
}
.add_playlist:active span {
  background: var(--m-gray);
}
#top_panel {
  -webkit-app-region: drag;
}
#top_panel .bt,
#top_panel button,
#top_panel input {
  min-width: 1em;
  min-height: 1em;
  -webkit-app-region: no-drag;
}
#top_panel #p_name {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  min-height: 1em;
  padding: .2em;
}
#top_panel input[type='checkbox'] {
  display: none;
}
#top_panel input[type='checkbox'] + label {
  --bg_color: var(--ml-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--m-gray);
  display: inline-block;
  padding: .3em;
}
#top_panel input[type='checkbox'] + label:hover {
  background: var(--m-gray);
}
#top_panel input[type='checkbox'] + label:active {
  background: var(--m-gray);
}
#top_panel input[type='checkbox'] + label input {
  display: none;
}
#top_panel input[type='checkbox']:checked + label {
  --bg_color: var(--m-gray);
  --brd_color: var(--md-gray);
  --txt_color: var(--white);
  --shd_color: var(--color-shadow-light);
  border-radius: var(--radius);
  overflow: visible;
  background: #fff;
  border: 0 solid #d8d8d8;
  border-top-width: 0;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: var(--brd_color);
  color: var(--txt_color);
  background: var(--bg_color);
  box-shadow: 0 1px 0px 0px var(--shd_color) inset;
  cursor: pointer;
  /*-webkit-transition: all @tm ease;
       -moz-transition: all @tm ease;
         -o-transition: all @tm ease;
        -ms-transition: all @tm ease;*/
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--m-gray);
  padding: .3em;
}
#mw_add_tracks {
  min-height: 15em;
  height: auto;
  max-height: 20em;
  overflow-y: auto;
}
#mw_add_tracks .path,
#mw_add_tracks .folder {
  width: 100%;
}
#mw_add_tracks .blck {
  width: 100%;
  max-width: 100%;
  height: 10em;
}
#mw_playlists_manage input[type='checkbox'] + label {
  cursor: pointer;
}
#mw_playlists_manage input[type='checkbox']:checked + label {
  color: var(--color);
}
#mw_playlists_manage .buttonsPlace {
  margin: .3em 0;
}
#mw_playlists_manage .buttonsPlace button {
  margin: .1em .2em;
}
#mw_soundlists_manage {
  max-width: 41rem;
  margin: 0 auto;
}
#mw_soundlists_manage .row {
  display: flex;
}
#mw_soundlists_manage .soundColumn {
  list-style-type: none;
  margin: 0;
  padding: 0.3em;
  border-right: 1px solid var(--l-gray);
}
#mw_soundlists_manage .soundColumn li {
  display: flex;
}
#mw_soundlists_manage .soundColumn li input {
  position: relative;
  top: 0.35rem;
}
#mw_soundlists_manage .soundColumn label {
  cursor: pointer;
  transition: background .2s;
  display: block;
  background: var(--white);
  padding: .1em;
  flex-grow: 99;
}
#mw_soundlists_manage .soundColumn label:hover {
  background: var(--l-gray);
}
#mw_soundlists_manage .soundColumn label.selected {
  background: var(--m-gray);
}
#mw_soundlists_manage .soundInfo {
  padding: 0.1em 0.5em;
}
#mw_soundlists_manage .soundArr {
  list-style-type: none;
  margin: 0;
  padding: 0.3em;
}
#mw_soundlists_manage .soundArr li {
  display: flex;
  justify-content: space-between;
}
#mw_soundlists_manage .soundArr li:nth-child(odd) {
  background: var(--l-gray);
}
#mw_soundlists_manage .soundArr input {
  width: 2rem;
  margin-left: 0.5em;
}
#mw_soundlists_manage .icoSample {
  min-width: 1.5em;
  position: relative;
  left: -1.5em;
  z-index: 9;
}
#mw_soundlists_manage .buttonsPlace {
  margin: .3em 0;
}
#mw_soundlists_manage .buttonsPlace button {
  margin: .1em .2em;
}
#mw_batDB_manage {
  max-width: 50rem;
  margin: 0 auto;
}
#mw_batDB_manage .inner {
  margin: 1rem;
}
#mw_batDB_manage .center {
  text-align: center;
}
#mw_batDB_manage button {
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 1px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .9em 1.6em;
  background: #f7f7f7;
  margin: 0.5em;
  transition: box-shadow 0.3s, background 0.3s;
}
#mw_batDB_manage button:hover {
  background: var(--color);
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}
#mw_batDB_manage button.white {
  background: white;
}
#mw_batDB_manage #mw_batDB_load_input,
#mw_batDB_manage #mw_batDB_import_input {
  display: none;
}
#mw_sl_OkButton,
#mw_pl_CancelButton,
#mw_pl_OkButton {
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 1px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .9em 1.6em;
  background: #f7f7f7;
  margin: 0.5em;
  transition: box-shadow 0.3s, background 0.3s;
}
#mw_sl_OkButton:hover,
#mw_pl_CancelButton:hover,
#mw_pl_OkButton:hover {
  background: var(--color);
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}
#mw_sl_OkButton.white,
#mw_pl_CancelButton.white,
#mw_pl_OkButton.white {
  background: white;
}
.page {
  color: var(--l-gray);
}
.page h1 {
  margin: 1rem;
}
.page > .content {
  padding: 1rem;
  margin: 1rem auto;
  max-width: 70rem;
}
.page article {
  padding: 1rem;
  margin: 1rem;
  line-height: 1.6;
  border-radius: var(--radius);
  border: 1px solid var(--mdd-gray);
}
.page .flexParent article {
  flex-basis: 30rem;
  flex-grow: 1;
}
@media only screen and (max-width: 400px) {
  #soundpad_wrapper,
  #soundpad {
    flex-direction: row;
  }
  #soundpad_wrapper {
    box-shadow: 0px -6px 6px var(--color-shadow);
  }
}
