<!DOCTYPE html>
<html>
    <head>
        <title>dPlayer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" type="text/css" href="css/style.css">
				<link href="fonts/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    </head>
    <body>
			<div id="app" :class="sAppView">
				<div id='toolbar' v-cloak>
					<div class='panel'>
						<titem 
							key="foreground"
							title="Всегда на первом плане"
							type="switch"
							ico="fas fa-thumbtack"
							:active="pages.Config"
							@press="oWin.bForeground">
						</titem>
						<titem 
							key="quite"
							title="Закрыть вот это вот все"
							type="button"
							ico="fas fa-times"
							@press="quite">
						</titem>
					</div>
					<div class='panel'>
						<titem 
							v-for="item in aToolbarItems"
							:key="item.id"
							:title="item.title"
							:type="item.type"
							:subtype="item.subtype"
							:active="item.active"
							:ico="item.ico"
							@press="proxy(item.action)">
						</titem>
						
						<selector
							:items="aProjects"
							:selected="oSettings.selectedProject"
							
							@add="addProject"
							@edit="editProject"
							@select="selectProject"
							@delete="deleteProject"
							>
						</selector>
					</div>
				</div>
				
				
				<div id='main' v-cloak>
					<div class='page flexParent' v-show="page=='PlayLists'" >
						<div style='flex-grow: 99' id='playListsWrapper'>
							<div id='playLists' >
								<play-list
									v-for="playList in aPlaylistsInProject"
									:key="playList.id"
									:index="playList.index"
									:id="playList.id"
									:title="playList.title"
									:img="playList.img"
									:color="playList.color"
									:group="playList.group"
									:groups="aPlayListGroups"
									:volume="Number(playList.volume)"							
									
									:loop="playList.config.loop"
									:compact="playList.config.compact"
									:plaing="playList.config.plaing"
									:edit="playList.config.edit"
									:smooth="oSettings.smoothPlay"
									:muted="oSettings.mutedPlay"
									:group_opened="playList.config.group_opened"
									
									:tindex="playList.trackIndex"
									:list="playList.list"
									
									
									@play="play"
									@pause="pause"
									@random="random"
									@compacted="compacted"
									@looped="looped"
									@next="nextTrack"
									@switch="switchTrack"
									@remove_track="removeTrack"
									@add_track="addTrack($event, playList.id)"
									@group_configing="group_configing"
									@set_group="set_group"
									@remove_group="remove_group"
									@volumed="volumeChanged"
									
									@start_edit_title="start_edit_title"
									@finish_edit_title="finish_edit_title"
									
									@group_title_edited="group_title_edited"
									@group_color_edited="group_color_edited"
									@add_group="add_group"
									
									@remove="remove_playlist"
									>
										
								</play-list>
								<div class='add_playlist' @click="add_playlist" title="Добавить поток">

									<span>
										<i class="fa fa-plus"></i>
									</span>
								</div>
							</div>
						</div>

						<!-- <button @click="start">Загрузить</button> -->
						<div id='soundpad_wrapper' :class="{editing: sounder.edit}">
							<div class='soundpad_container'>
								<div id="soundpad">
									<div id="sounds_wrapper">
										<sounder
											v-for="item in aSoundsInProject"
											:key="item.id"
											:id="item.id"
											:title="item.title"
											:items="item.items"
											:ico="item.ico"
											:active="item.active"
											@press="sounder_press(item.id)"
										>
										</sounder>
									</div>
									<button id='new_sounder' @click="addSounder" title='Добавить набор звуков'><i class="fa fa-plus"></i></button>
								</div>
								<div id='soundpad_toolbar'>
									<button :class='{obscured: true, active: sounder.edit}' @click="edit_sounds" title='Редактировать звуки'>
										<i class="fa fa-edit"></i>
									</button>
								</div>
							</div>
							
							<div id='sound_editor' v-show="sounder.edit && sounder_selected">
								<div class='flexRow sound_title'>
									<input 
										placeholder='Название' 
										class='cinput sounder_title' 
										:value="sounder.editor.title" 
										@change="sound_title_changed">
									<span class='sounder_ico_ex'><i :class="sounder_editor_ico"></i></span>
								</div>	
									
								<!-- <icon_selector -->
									<!-- :value="sounder.editor.ico"  -->
									<!-- :list="aIconsFiltered"  -->
								<!-- /> -->
								<div class="ico_group">
									<div class="flexRow">
										<input class='cinput' :value="sounder.editor.ico" @keyup="sound_icon_filter">
									</div>
									<div class='content'>
										<icon_item
											v-for="icon in aIconsFiltered"
											:key="icon"
											:active='icon == sounder.editor.ico'
											:ico='icon'
											@select="onSounderIcoSelect"
											/>
									</div>
								</div>
								
								<div class="sounder_settings_group">
									<label class='add_track_label'>Файлы:</label>
									<div class='sound_list'>
										<sound_item
											v-for="(sound, i) in sounder.editor.items"
											:key="i"
											:src="sound.src"
											:number="sound.number" 
											@remove="onSounderTrackRemove(i)"
											@set_number="onSounderTrackNumberEdited($event, i)"/>
									
									</div>
									<!-- <button   -->
										<!-- class='add_track'  -->
										<!-- @click="add_sounds"  -->
										<!-- title="Добавить звуки"> -->
										<!-- <i class="fa fa-plus"></i> -->
									<!-- </button> -->
									<input 
										id="sounder_add_track" 
										class="new_sound" 
										type="file" 
										@change="addSound($event)" 
										accept="audio/*"
										multiple/>
									<label for="sounder_add_track" title='Добавить файл'><i class="fa fa-plus"></i></label>
								</div>
								
								<div class='flexSpacer'></div>
								
								<button @click="remove_sounder"><i class="fa fa-trash-alt"></i> Удалить</button>
							</div>
							
						</div>

					</div>
			
					<div v-show="page=='Config'"  class='page'>
						<div class='content'>
							<h1>Настройки</h1>
							<div class='flexParent'>
								<article>
									<h2>Горячие клавиши потоков</h2>
									<p>Для потоков заданы следующие горячие клавиши. Для первого - [1] - воспроизведение/пауза, [Q] - следующий трек, [A] - громче, [Z] - тише. Клавиши идут столбиком, аналогично для следующих потоков. Работает для первых девяти.</p>
									<p>При нажатии сочетаний ниже (всех клавиш одновременно) будет вызвана соответствующая функция потока.</p>
									<div class='flexParent'>
										<div class='col middle'>
											<div>
												<div><label><input type='checkbox' v-model="oHotkeys.PlayLists.SHIFT" @click="setPlayListsHotkey($event, 'SHIFT')"> SHIFT</label></div>
												<div><label><input type='checkbox' v-model="oHotkeys.PlayLists.CTRL" @click="setPlayListsHotkey($event, 'CTRL')"> CTRL</label></div>
												<div><label><input type='checkbox' v-model="oHotkeys.PlayLists.ALT" @click="setPlayListsHotkey($event, 'ALT')"> ALT</label></div>
											</div>
										</div>
										<div class='col  middle'>
											+
										</div>
										<div class='col  middle'>
											Клавиша
										</div>
									</div>
								</article>
								<article>
									<h2>Горячие клавиши звуков</h2>
									<p>При нажатии сочетаний ниже (всех клавиш одновременно) будет воспроизведен звук под соответствующей цифрой</p>
									<div class='flexParent'>
										<div class='col  middle'>
											<div>
												<div><label><input type='checkbox' v-model="oHotkeys.Sounds.SHIFT" @click="setSoundHotkey($event, 'SHIFT')"> SHIFT</label></div>
												<div><label><input type='checkbox' v-model="oHotkeys.Sounds.CTRL" @click="setSoundHotkey($event, 'CTRL')"> CTRL</label></div>
												<div><label><input type='checkbox' v-model="oHotkeys.Sounds.ALT" @click="setSoundHotkey($event, 'ALT')"> ALT</label></div>
											</div>
										</div>
										<div class='col  middle'>
											+
										</div>
										<div class='col middle '>
											Цифра
										</div>
									</div>
								</article>
							</div>
							
							<article>
								<h2>Интерфейс</h2>
								<div>
									<label>Акцентный цвет: <input type="color" list="presetColors" :value="oSettings.color" @change="theme_color_changed">
																					<datalist id="presetColors">
																						<option value="#fc801c"/>
																						<option value="#487EC5"/>
																						<option value="#ff2233"/>
																						<option value="#2196F3"/>
																						<option value="#8bc34a"/>
																						<option value="#fdd835"/>
																						<option value="#9c27b0"/>
																					</datalist></label>
								</div>
								<div><label>Язык интерфейса:  <button :class="{active: oSettings.language=='RU'}">RU</button></label></div>
							
							</article>
							
						</div>
					</div>	
					
					<div v-show="page=='Info'"  class='page'>
						<div class='content'>
							<h1>Информация</h1>
							<article>
								<h2>Обзор</h2>
								<p>Если у вас на диске есть коллекция музыки, которую вы хотите использовать для создания атмосферы, то этот приложение может вам помочь. Для работы со звуком есть две части: плейлисты (потоки) и панель звуков.</p>
								<ul>
									<li>Плейлисты - наборы треков с возможностью зацикливания, группировки, одновременного воспроизведения.</li>
									<li>Панель звуков - предназначена для одиночного проигрывания относительно коротких эффектов</li>
								</ul>							
							</article>
							
							<article>
								<h2>Потоки</h2>
								<p>Каждый поток может содержать набор треков - обычно мелодий - для воспроизведения их друг за другом.</p>
								<ul>
									<li>Чтобы <b>добавить плейлист/поток</b>, нужно нажать большую кнопку <button><i class="fa fa-plus"></i></button> на основном экране.</li>
									<li>Чтобы <b>добавить треки</b>, нужно нажать кнопку <button><i class="fa fa-plus"></i></button> в левом нижнем углу плейлиста.</li>
									<li>Кнопка <button><i class="fa fa-random"></i></button> перемешает все треки в плейлисте</li>
									<li>Переключатель <button><i class="fa fa-eye-slash"></i></button> позволяет скрывать/показывать список воспроизведения в плейлисте.</li>
									<li>Чтобы <b>отредактирвоать заголовок плейлиста</b> нужно кликнуть по нему 2 раза.</li>
									<li>Переключатель <button><i class="fa fa-object-ungroup"></i></button> в нижней части плейлиста позволяет добавить текущий плейлист в группу. Для добавления плейлиста в группу, нужно нажать на строку группы.</li>
									<li>Чтобы <b>удалить плейлист/поток</b>, нужно нажать кнопку <button><i class="fa fa-trash-alt"></i></button> в правом нижнем углу плейлиста.</li>
								</ul>
								
								<h3>Группы</h3>
								<p>Группы нужны для регулирования одновременного воспроизведения музыки из разных плейлистов. По умолчанию, плейлист не находистя ни в какой группе. Плейлисты без групп, и плейлисты в <i>разных</i> группах могут звучать одновременно.</p>
								<p>Внутри одной группы может звучать только один плейлист.</p>
								<p>Зачем это может понадобиться? Напрмер, есть два плейлиста со звуками окружения - ночной лес и дневной. При начале воспроизведения ночного, дневной автоматически станет на паузу. При этом может продолжить звучать другой плейлист с мелодиями.</p>
								<p>Группы харрактеризуются цветами - можно задать любой. У плейлиста в группе сверху будет цветная полоска, цвет указывает на группу. Группы добавляются/удаляются/редактируются внутри плейлиста.</p>								
							</article>
							
							<article>
								<h2>Звуки</h2>
								<p>Панель звуков находится в правой части основного экрана. при нажатии на кнопку звука, будет проигран случайный файл из заданного набора.</p>
								<ul>
									<li>Чтобы <b>добавить набор звуков</b>, нужно нажать кнопку <button><i class="fa fa-plus"></i></button> в правой панели. Откроется окно настройки набора звуков</li>
									<li>Название - позволяет указать общую тему набора, появляется во всплывающей подсказке при наведении курсона на копкунабора звуков.</li>
									<li>Далее можно выбрать иконку, соответствующую звукам. Иконки из набора font awesome. Можно выбрать из набора или указать название.</li>
									<li>Далее нужно выбрать файл(ы) звуков. Например звуки выстрелов.</li>
									<li>В строке с каждыйм выбранным файлом будет поее воода, там можно указать цифровой коэффициент - чем он больше, тем выше вероятность, что будет проигран именно этот звук из набора.</li>
									<li>Чтобы <b>удалить набор звуков</b>, нужно нажать кнопку <button><i class="fa fa-trash-alt"></i> Удалить</button> под списком файлов набора звуков.</li>
									<li>Чтобы <b>отредактировать набор звуков</b>, нужно перейти в режим редактирвоания - кнопка <button><i class="fa fa-edit"></i></button> внизу панели звуков, и нажать на кнопку набора звуков.</li>
								</ul>							
							</article>
							
							<article>
								<h2>Известные баги</h2>
								<p>Шкала в плейлистах может неверно отображать оставшееся время. Это вызванно особенностью получения данных. Длительность трека расчитывается из размера файла, но кроме само	 мцзыки в файле хрранятся метаданные, занимающие место.</p>
								
													
							</article>
							
							<article>
								<h2>Всякое</h2>
								<p>Репозиторий/исходники: <a href='https://github.com/Dr-Tentaculus/DPlayer'>https://github.com/Dr-Tentaculus/DPlayer</a></p>
								<p>Планы развития: <a href='https://github.com/Dr-Tentaculus/DPlayer/projects/1'>https://github.com/Dr-Tentaculus/DPlayer/projects/1</a></p>
								<p>О багах писать сюда: <a href='https://github.com/Dr-Tentaculus/DPlayer/issues'>https://github.com/Dr-Tentaculus/DPlayer/issues</a></p>
													
							</article>
							
						</div>
					</div>
				<!-- <pre> -->
		<!-- {{aLocalDataDebug}} -->
				<!-- </pre> -->
			
				</div>
				
				<div id='new_version' class='bottom_toolbar' v-show="oMeta.bNewVersionAvailable" v-cloak>
					{{sNewVersionText}} <a @click='openNewVersion'> новая версия {{oMeta.sLatestVersion}}</a> (Текущая версия: {{oMeta.sCurVersion}})
				</div>
				<div  class='bottom_toolbar' v-show="show_help" v-cloak>
					{{sGreating}} Если вы впервый раз пользуетесь приложением, можете ознакомиться со справкой, нажав кнопку <i class="fas fa-info"></i> в верхней панели.
				</div>
				
				<transition name="fade">
					<div :class='{splash: true, hidden: false}' v-show="!bReady">
						<div id='load'>				
						</div>
					</div>
				</transition>
			</div>


				<script type='text/javascript' src="js/vue.js" defer></script>
				<script type='text/javascript' src='js/Sortable.js' defer></script>
				<script type='text/javascript' src='js/controller.js' defer></script>
				<script>
					/*document.addEventListener('drop', (e) => {
						e.preventDefault();
						e.stopPropagation();

						<!-- for (const f of e.dataTransfer.files) { -->
							<!-- console.log('File(s) you dragged here: ', f.path) -->
						<!-- } -->
						let sId = "";
						for (let oEl = e.target; !(sId = oEl.dataset.id) ; oEl = oEl.parentNode){
						}
						//e.target.parentNode.dataset.id;			
						if(sId) {
							let oItem = app.$refs['i_'+sId][0];
							app.dropSound(e, oItem);
						}						
					});
					document.addEventListener('dragover', (e) => {
						e.preventDefault();
						e.stopPropagation();
					});*/
				</script>
				 <script>
            /**
             * The code can be included in some JS file and included
             * via require or <script> in the renderer process
             */
/*/
            const { ipcRenderer } = require('electron');

            // Some data that will be sent to the main process
            let Data = {
                message: "Hi",
                someData: "Let's go"
            };

            // Send information to the main process
            // if a listener has been set, then the main process
            // will react to the request !
            ipcRenderer.send('request-mainprocess-action', Data);
						/**/
        </script>
    </body>
</html>